body{
    background-color: beige;
    font-weight: bold;
}

span:nth-child(2) {
    margin-left: 20px;
  }
  
  #chart-container {
    position: relative;
}

#sales-info {
    color: #666;
    font-size: 28px;
    position: absolute;
    top: 4vh;
    left: calc((100vw - 1200px)/2);
    
  }
#chart {
    color: #666;
    text-align: center;
    position: relative;
    
  }
  
  svg {
    border: 1px solid #ddd;
  }
  
  circle {
    stroke: white;
    stroke-width: 1.5;
  }